body {
  background-color: #ff4f4f;
}
.loginForm {
  background-color: #fff;
  margin-top: 120px;
  padding: 40px 100px;
}
.mainWindow {
  background-color: #fff;
  margin-top: 88px;
  padding: 40px;
}
.child {
  width: 400px;
  margin-bottom: 20px;
}
.hidden {
  display: none;
  visibility: hidden;
}
